.box {
    display: flex;
    column-gap: 50px;
}

.form {
    width: 630px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    row-gap: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    margin-right: 14px;
}

.label {
    color: #c4c4c4;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    padding-bottom: 4px;
}

.inputTel,
.input {
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 13px 19px;
    width: 300px;
}

.inputTel {
    width: 614px;
}

.inputTel::placeholder,
.input::placeholder {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
    line-height: 24px;
}

@media (max-width: 767px) {
    .box {
        width: 100%;
        column-gap: 30px;
        flex-direction: column;
    }

    .form {
        width: 100%;
        row-gap: 18px;
        flex-direction: column;
        margin-right: 21px;
    }

    .item {
        width: 100%;
        justify-content: center;
    }

    .label {
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 6px;
    }

    .inputTel,
    .input {
        width: 100%;
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        border-radius: 30px;
        border: 1px solid #d9d9d9;
        background: #fff;
        padding: 9px 17px 10px;
    }

    .inputTel::placeholder,
    .input::placeholder {
        font-size: 14px;
        line-height: 21px;
    }
}
