.products {
    max-width: 1158px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 26px;
    row-gap: 40px;
}

.productImg {
    width: 270px;
    height: 270px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
    cursor: pointer;
}

.adsImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.productImg:hover {
    border: 2px solid #009ee4;
}

.productImg:active {
    background-color: #eceaea;
}

.productName {
    max-width: 259px;
    color: #009ee4;
    font-size: 22px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 10px;
}

.productName:hover {
    color: #0080c1;
}

.productName:active {
    color: #c3d2d8;
}

.productPrice {
    color: #000;
    font-size: 22px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 10px;
}

.productCity,
.productData {
    color: #5f5f5f;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
}
