.page {
    background-color: #009ee4;
    background-size: cover;
    min-height: 100vh;
}

.form {
    position: absolute;
    z-index: 2;
    left: calc(50% - (366px / 2));
    top: calc(50% - (439px / 2));
    opacity: 1;
    width: 366px;
    background-color: #ffffff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 43px 47px 47px 40px;
}

.modalLogo {
    width: 140px;
    height: 21px;
    margin-bottom: 42px;
    background-color: transparent;
}

.login {
    margin-bottom: 38px;
}

.error {
    background: rgb(241, 156, 156);
}
