.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: #f1f1f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
}

.content {
    max-width: 1178px;
    margin: 0 auto;
    padding: 52px 10px 37px;
}

.title {
    font-weight: 500;
    font-size: 40px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 30px;
}

.profile {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

.titleProfile {
    color: #000;
    font-size: 32px;
    font-weight: 500;
    line-height: 220%;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .content {
        padding: 85px 20px 0;
    }

    .title {
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 20px;
    }

    .profile {
        margin-bottom: 40px;
    }

    .titleProfile {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 30px;
    }
}
