.button {
    cursor: pointer;
    padding: 12px 24px 16px;
    height: 52px;
    border-radius: 6px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.05px;
}

.btnAdv,
.btnLogout,
.btnSave,
.btnReview,
.custom,
.blue {
    background-color: #009ee4;
    color: #fff;
    border: none;
    width: 278px;
}

.custom {
    max-width: 225px;
    margin-right: 10px;
    font-size: 16px;
}

.disabled,
.disabled:hover {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #b9b9b9;
}

.btnAdv:hover,
.btnLogout:hover,
.btnSave:hover,
.btnReview:hover,
.custom:hover,
.blue:hover {
    background: #0080c1;
}

.btnAdv:active,
.btnLogout:active,
.btnSave:active,
.btnReview:active,
.custom:active,
.blue:active {
    background-color: #0079b5;
}

.light {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    color: #000;
    width: 278px;
    margin-top: 28px;
}

.light:hover {
    background: #f4f5f6;
}

.light:active {
    border-radius: 46px;
    border: 1px solid #d0cece;
    background: #d9d9d9;
}

.gray {
    cursor: default;
    background: #b9b9b9;
    color: #fff;
    width: 181px;
}

.btnAdv,
.btnReview {
    width: 181px;
}

.btnLogout,
.btnSave {
    font-size: 16px;
    width: 154px;
    height: 50px;
    margin-right: 10px;
}

.btnLogout {
    width: 225px;
}

@media (max-width: 767px) {
    .button {
        padding: 10px 24px 14px;
        height: 46px;
        font-size: 16px;
        font-weight: 400;
    }

    .light {
        margin-top: 10px;
    }

    .blue {
        margin-top: 40px;
    }
}
